/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {


  .subscribe-section .container .food-item h2,
  .subscribe-section .container .food-item .h2 {
    margin-top: 0px !important;
  }

  .subscribe-section .container .food-item p {
    margin-top: 0px !important;
  }

}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (max-width: 1220px) {
  .frouts-menu-section .container .frout-inner .frouts-item {
    padding-right: 40px !important;
    margin-top: 20px !important;
  }

  .frouts-menu-section .container .frout-inner .frouts-item .content h3,
  .frouts-menu-section .container .frout-inner .frouts-item .content .h3 {
    font-size: 20px !important;
    line-height: 24px !important;
  }


  // .frouts-menu-section {
  //   height: 1260px !important;
  // }


}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (max-width: 991px) {

  .nav-section .container {
    .logo-wrap {
      width: 100%;
      margin: inherit;
    }

    .menu {
      display: none;
      width: 100%;
      height: 100vh;
      background-color: #ddd;
      margin-top: 65px;
      text-align: center;
      position: fixed;
      left: 0;
      z-index: 10;


      li {
        display: block;
        padding: 20px 0;
        transition: .5s ease-in;

        &:hover {
          background-color: #e08d8d;
        }
      }

    }
  }


  .container-md,
  .container-sm,
  .container {
    max-width: 100%;
  }

  .nav-section .logo-wrap {
    width: 100%;
    padding: 10px 10px 0;
    top: 0;
  }


  .hamber-wrap {
    display: block !important;

  }

  .nav-section .logo {
    margin-right: auto !important;
    margin: 0;
  }

  #testimonial {
    margin: 80px 50px;

    .img-thumb {
      .detox {
        h2 {
          bottom: 3%;
        }
      }

      .fresh {
        h2 {
          right: 15%;
        }
      }

    }
  }

  .subscribe-section .container .subscribe {
    margin-top: 112px !important;
  }

  .frouts-menu-section {
    height: 1326px !important;
  }

  .frouts-menu-section .container .frout-inner .frouts-item {
    width: 100% !important;
  }

  #testimonial-1 .testimonial-item-1 {
    width: 100% !important;
  }

  .shop-section .container figure figcaption {
    margin-top: 10px !important;
  }




  .footer-area .footer-top .container {
    display: block;
  }

  .footer-item {
    text-align: center;
  }

  .footer-area .footer-top .container .feed .image-group {
    width: 100%;
  }

  .footer-area .footer-top .container .feed .image-group a:nth-child(3) {
    margin-right: 20px;
  }

  .footer-area .footer-buttom .container {
    display: inherit;
    text-align: center;
  }

  .footer-area .footer-top .container .footer-item h2,
  .footer-area .footer-top .container .footer-item .h2 {
    margin-bottom: 10px;
  }

  .footer-area .footer-top .container .contact {
    margin: 30px 0;
  }



  // ===================About-page=======================


  .about-title h1,
  .about-title .h1 {
    font-size: 30px !important;
    line-height: 40px !important;
  }

  .about-title p {
    font-size: 20px !important;
    line-height: 20px !important;
  }

  #testimonial .owl-item::before {
    bottom: -55px !important;
  }

  #testimonial .owl-item::after {
    top: -60px !important;
  }



}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  /* CSS */

}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (max-width: 768px) {

  #testimonial {
    margin: 90px 0 0 0 !important;
  }

  #testimonial .owl-item::after {
    top: -75px;
  }

  #testimonial .owl-item::before {
    bottom: -70px;
  }

  #testimonial .img-thumb .detox h2,
  #testimonial .img-thumb .detox .h2 {
    bottom: -13%;
  }

  #testimonial .img-thumb .fresh h2,
  #testimonial .img-thumb .fresh .h2 {
    right: 15%;
    top: 8%;
  }

  #testimonial .owl-prev {
    left: 5px;
  }

  #testimonial .owl-next {
    right: 5px;
  }

  .subscribe-section {
    height: 1150px !important;
    margin: 160px 0 !important;

    .food-wrap {
      padding-top: 50px !important;
      display: inherit !important;

      .food-item {
        margin-top: 150px !important;
      }
    }

  }


  .subscribe-section .container {
    display: inherit !important;
  }

  .subscribe-section .container .subscribe input[type=email] {
    width: 100% !important;
  }

  .subscribe-section .container .subscribe {
    margin-top: 30px !important;
  }

  .subscribe-section .container .food-item h2,
  .subscribe-section .container .food-item .h2 {
    font-size: 50px !important;
  }

  .subscribe-section .container .food-item p {
    font-size: 15px !important;
  }



  .frouts-menu-section .container .frout-inner {
    display: inherit !important;

    .frouts-item {
      width: 100% !important;
    }
  }

  .frouts-menu-section {
    height: 1520px !important;
    margin: 0 !important;
  }

  .text-center {
    margin-top: 50px;
  }

  .blog-section .container {
    display: block !important;
  }

  .blog-section .container .blog-item {
    width: 100% !important;
    margin-left: 0 !important;
    margin-bottom: 50px;
  }

  .about-section .container {
    display: block;
  }

  .footer-area .footer-top .container {
    display: inherit !important;

    .footer-item {
      text-align: center;
    }
  }

  .footer-area .footer-top .container .feed .image-group {
    width: 100% !important;
  }

  .footer-area .footer-top .container .feed .image-group a:nth-child(3) {
    margin-right: 20px !important;
  }

  .footer-area .footer-top .container .feed .image-group a:nth-child(6) {
    margin-right: 20px !important;
  }

  footer.footer-area {
    margin-top: 70px;
  }

}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (max-width: 480px) {

  #testimonial .img-thumb .detox h2,
  #testimonial .img-thumb .detox .h2 {
    line-height: 14vh;
  }

  #testimonial .img-thumb .fresh h2,
  #testimonial .img-thumb .fresh .h2 {
    line-height: 11vh;
  }

  .frouts-menu-section .container .frout-inner .frouts-item {
    display: block !important;
    text-align: center !important;
    padding: 0 !important;
  }

  .frouts-menu-section .container .frout-inner .frouts-item figure {
    margin-right: 0 !important;
  }

  .frouts-menu-section .container .frout-inner .frouts-item h2,
  .frouts-menu-section .container .frout-inner .frouts-item .h2 {
    font-size: 40px !important;
    line-height: 30px !important;
  }

  .frouts-menu-section .container .frout-inner {
    margin-top: 230px !important;
  }

  .frouts-menu-section .title {
    top: 80px !important;
  }

  .frouts-menu-section {
    height: 145em !important;
  }

  .footer-area .footer-buttom .container {
    display: inherit !important;
    text-align: center !important;
  }



  // ===============about-page==================

  #testimonial .owl-item::before {
    bottom: -70px !important;
  }

  #testimonial .owl-item::after {
    top: -70px !important;
  }

  .about-title {
    transform: translate(0%, 15%) !important;
  }

}